<div class="flex justify-center items-center min-h-screen bg-gradient-to-r from-gray-700 via-gray-800 to-gray-900">
  <div class="bg-white p-8 rounded-lg shadow-2xl w-full max-w-md">
    <h2 class="text-3xl font-extrabold mb-6 text-center text-gray-800">Iniciar Sesión</h2>
    <form (ngSubmit)="onLogin()" class="space-y-6">
      <div>
        <label for="login" class="block text-sm font-medium text-gray-700">Correo electrónico</label>
        <input 
          id="login" 
          type="email" 
          [(ngModel)]="loginData.login" 
          name="login" 
          required 
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          placeholder="Ingresa tu correo">
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
        <input 
          id="password" 
          type="password" 
          [(ngModel)]="loginData.password" 
          name="password" 
          required 
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          placeholder="Ingresa tu contraseña">
      </div>
      <div *ngIf="errorMessage" class="text-red-500 text-sm font-medium">
        {{ errorMessage }}
      </div>
      <button 
        type="submit" 
        class="w-full bg-indigo-600 text-white py-2 px-4 rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
        Ingresar
      </button>
    </form>
  </div>
</div>