<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="custom-tab-label">Ingreso</span>
      </ng-template>
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter1($event)" placeholder="Ex. Camilo, 2024-01-30" #input>
      </mat-form-field>
      <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
  
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> Hora </th>
          <td mat-cell *matCellDef="let element"> {{element.time}} </td>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> E-mail </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
  
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef> Ubicación </th>
          <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" #paginator1></mat-paginator>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="custom-tab-label">Salida</span>
      </ng-template>
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter2($event)" placeholder="Ex. Camilo, 2024-01-30" #input>
      </mat-form-field>
      <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
  
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> Hora </th>
          <td mat-cell *matCellDef="let element"> {{element.time}} </td>
        </ng-container>
  
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> E-mail </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
  
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef> Ubicación </th>
          <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" #paginator2></mat-paginator>
    </mat-tab>
  </mat-tab-group>