<div class="overflow-x-auto">
    <table class="min-w-full bg-white border border-gray-200">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="py-2 px-4 border-b">Fecha</th>
                <th class="py-2 px-4 border-b">Nombre</th>
                <th class="py-2 px-4 border-b">Hora</th>
                <th class="py-2 px-4 border-b">Estado</th>
                <th class="py-2 px-4 border-b">Ubicación</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-gray-100">
                <td class="py-2 px-4 border-b text-center align-middle">24-Noviembre-2024</td>
                <td class="py-2 px-4 border-b text-center align-middle">Malcolm Lockyer</td>
                <td class="py-2 px-4 border-b text-center align-middle">19:31</td>
                <td class="py-2 px-4 border-b text-center align-middle">Ingreso</td>
                <td class="py-2 px-4 border-b text-center align-middle">
                    <a href="https://www.google.com/maps?q=4.679410028058952,-74.0437231141351" target="_blank"
                        class="text-blue-500 hover:underline">
                        4.679410028058952, -74.0437231141351
                    </a>
                </td>
            </tr>

        </tbody>
    </table>
</div>