<div class="max-w-sm mx-auto bg-white shadow-2xl rounded-lg overflow-hidden mt-6 border border-gray-100">
    <div class="px-6 py-4">
        <div class="flex justify-center items-center">
            <div class="w-full max-w-full text-xl mb-2 bg-gray-800 text-white p-4  rounded text-center font-bold">
              {{ collaborator.name }} ({{ collaborator.employeeID }})
            </div>
          </div>
        <p class="text-gray-700 text-base">
            <strong>Correo:</strong> {{ collaborator.email }}
        </p>
        <p class="text-gray-700 text-base">
            <strong>Contraseña:</strong> ********
        </p>
        <p class="text-gray-700 text-base">
            <strong>Teléfono:</strong> {{ collaborator.phone }}
        </p>
        <p class="text-gray-700 text-base">
            <strong>SSID:</strong> {{ collaborator.ssid }}
        </p>
    </div>
    <div class="px-6 py-4 flex justify-end">
        <button class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            (click)="openDeleteModal(collaborator.email)">
            Eliminar
        </button>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2"
            (click)="editCollaborator(collaborator.email)">
            Editar
        </button>
    </div>
</div>

<div *ngIf="isDeleteModalOpen" class="fixed inset-0 flex items-center justify-center z-50">
    <div class="bg-gray-300 p-6 rounded shadow-lg">
        <h2 class="text-lg font-semibold mb-4">Confirmar Eliminación</h2>
        <p>¿Estás seguro de que deseas eliminar este colaborador?</p>
        <div class="mt-4 flex justify-end space-x-2">
            <button class="bg-gray-500 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded"
                (click)="closeDeleteModal()">
                Cancelar
            </button>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                (click)="confirmDelete()">
                Confirmar
            </button>
        </div>
    </div>
</div>